*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*Diseño Header*/

header{
    background-color:  #39a900;
  font-size: 0.9rem;
  color: white;
}

header  .info-header {
    display: flex;
}

header .personal-img{
    width: 40%;
    margin: 0.5rem;
}

header  .personal-img  img{
    width: 7rem;
    height: 7rem;
    border-radius: 20rem;
    -webkit-border-radius: 20rem;
    -moz-border-radius: 20rem;
    -ms-border-radius: 20rem;
    -o-border-radius: 20rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
}

header h1{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

header .personal-info{
    width: 60%;
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    margin-top: 1.5rem;
}

header p{
    text-align: center;
    margin-bottom: 0.8rem;
    margin-top: 1rem;
}

/*Diseño main*/

.sena{
    display: flex;
    margin-top: 2rem;
}

.sena img{
    width: 2.5rem;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    margin-left: 0.3rem;
}

.sena h2{
    margin-top: 0.5rem;
    color: #39a900;
}

hr{
    margin-top: 1rem;
}